<div layout="column">
    <div layout="row">
        <div class="hourheader blue-grey-text"></div>
        <div class="weekheader weekday blue-grey-text" ng-repeat="day in days"> {{day.date.format("ddd MM/DD")}}</div>

    </div>

    <div>
        <div style="overflow-y:scroll; height: 500px;">
        <div class="hourColumnBox">
            <div class="hourcell">12am</div>
            <div class="hourcell">1am</div>
            <div class="hourcell">2am</div>
            <div class="hourcell">3am</div>
            <div class="hourcell">4am</div>
            <div class="hourcell">5am</div>
            <div class="hourcell">6am</div>
            <div class="hourcell">7am</div>
            <div class="hourcell">8am</div>
            <div class="hourcell">9am</div>
            <div class="hourcell">10am</div>
            <div class="hourcell">11am</div>
            <div class="hourcell">12pm</div>
            <div class="hourcell">1pm</div>
            <div class="hourcell">2pm</div>
            <div class="hourcell">3pm</div>
            <div class="hourcell">4pm</div>
            <div class="hourcell">5pm</div>
            <div class="hourcell">6pm</div>
            <div class="hourcell">7pm</div>
            <div class="hourcell">8pm</div>
            <div class="hourcell">9pm</div>
            <div class="hourcell">10pm</div>
            <div class="hourcell">11pm</div>
        </div>

        <div class="weekColumnBox" ng-repeat="day in days" ng-class="{'todaycell':day.isToday}">
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
            <div class="day-data-cell">
                
            </div>
        </div>
        </div>

    </div>
</div>