.padding-body
{
	padding-bottom: 3%;
}

.color-heading
{
	background-color: #0EB511;
}

.listaLink {
    display: block;
    list-style-type: none;
}

.link
{
	color: black;
}

.title-head
{
	color: white;
}

.summary-navigation-number {
    width: 42px;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 10px 0 0;
    background: #333;
    color: #fff;
    font-size: 11px;
    float: left;
    padding: 0;
    height: 20px;
    letter-spacing: .07em;
}